---
  import Layout from "../layouts/Layout.astro";
---

<Layout title="the blog">
  <article>
    <a href="/">
      Home
    </a>
    <a href="/about">
      About
    </a>
    <a href="/blog">
      blog
    </a>
    <h1>
      Companies cannot exist without customers. 
    </h1>
    <p>
      In order to construct an effective message, product marketers have to understand what makes consumers in a given target market tick. <br> 
      This research helps companies mold their product into what their consumers want, a factor that significantly drives up demand. <br>
      The boost in demand occurs because the way the product winds up being packaged and positioned makes the consumers see value in it. <br> In addition to this, 
      product marketing helps companies discover which buyer personas to target in the future.
    </p>
  </article>
</Layout>